<%- @page_title = [t(:create), User::Profile.model_name.human].join(' | ') %>

<%= render_breadcrumbs([t(:home), t(:create), User::Profile.model_name.human]) %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= User::Profile.model_name.human %></h5>
    <%= render 'form' %>
  </div>
</div>