<% content_for :breadcrumbs do %>
  <div class="d-flex align-items-center pt-2 pb-2">
    <div class="me-auto"><%= t(:home) %> &#8618; <%= User::Profile.model_name.human %></div>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <%= render_floating_alert([flash.now[:notice]], :success) %>
    <%= render 'profile', profile: @profile %>
  </div>
</div>