<div class="mb-3 form-check form-switch">
  <%= f.label method, class: 'form-check-label' %>
  <%= f.check_box method, options %>
  <%= f.invalid_feedback method %>
  <%= f.valid_feedback method %>
</div>