<% if @stores.any? %>
  <%- @stores.each do |store| %>
    <% cache store do %>
      <li>
        <%= link_to store.name, store_path(store), class: 'dropdown-item' %>
      </li>
    <% end %>
  <% end %>
  <li>
    <hr class="dropdown-divider" />
  </li>
  <li>
    <%= link_to t(:all), stores_path, class: 'dropdown-item' %>
  </li>
<% else %>
  <li>
    <%= link_to t('stores.create.title'), new_store_path, class: 'btn btn-primary' %>
  </li>
<% end %>
