<% if resource.errors.any? %>
  <% content_for :alert do %>
    <div class="position-relative">
      <div class="position-absolute top-0 start-50 translate-middle" style="top:-35px !important;font-size:small;">
        <%= render_error_message(:danger, resource.errors.full_messages) %>
      </div>
    </div>
  <% end %>
<% end %>