body {
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #446EC0;
}

form {
  margin:0;
  padding:0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#outer_container {
  margin:auto 195px;
  width:788px;
}

a.cat_link {
  display:block;
}

a.cat_link:hover {
  background-color:#cccccc;
}

#top-bar-left {
  float:left;
  margin:0;
  padding:0;
}

#top-bar-right {
  float:right;
  font-size: 0.89em;
  margin:0;
  padding:0;
}

#top-bar-cleared {
  clear:both;
  border-bottom:1px solid #cccccc;
}

/* begin rounded corner*/

div.rc {
}

div.rc .h {
  height:4px;
}

div.rc .i {
  background-color:#65b46e;
  margin:0;
  padding:0 4px;
  float:left;
}

div.rc .cl {
  clear:both;
  height:0;
  overflow:hidden;
}

div.rc .h .c {
  width:4px;
  height:4px;
  margin-top:inherit;
  position:relative;
  overflow:hidden;
}

div.rc .h .lt {
  background:transparent url(/images/small-circle.png) no-repeat 0 0;
  float:left;
}

div.rc .h .rt {
  background:transparent url(/images/small-circle.png) no-repeat -4px 0;
  float:right;
}

div.rc .h .lb {
  background:transparent url(/images/small-circle.png) no-repeat 0 -4px;
  float:left;
}

div.rc .h .rb {
  background:transparent url(/images/small-circle.png) no-repeat -4px -4px;
  float:right;
}

div.rc .h .l {
  background-color:#65b46e;
  height:4px;
  position:relative;
  overflow:hidden;
}

/* end rounded corner */

ul#main-top-menus {
  list-style:none;
  margin:0;
  padding:0;
}

ul#main-top-menus li {
  display:inline;
  margin:0;
  padding:2px;
  margin-right:15px;
}

ul#main-top-menus li a {
}

ul#main-top-menus li a.active {
  background-color:#65B46E;
}

ul#main-top-menus li.last {
  border:none;
}

.bar {
  padding:2px 0px 2px 198px;
  background:url(/images/tb-bg.png) repeat-x;
  color:white;
}