body {
  font-family:Arial;
}
a {
  text-decoration:none;
}
#container {
  width:880px;
  margin:0 auto;
}
ul#main-tabs {
  list-style:none;
  margin:0;
  padding:0;
}
ul#main-tabs li {
  display:inline;
  margin-right:10px;
}
#item_file {
}