<div class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Resend unlock instructions</h3>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
      <div class="modal-footer">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
