<div class="card w-25" style="margin: 80px auto;">
  <div class="card-header">
    <h5 class="card-title">Resend unlock instructions</h5>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
  <div class="card-footer">
    <%= render "users/shared/links" %>
  </div>
</div>