<div id="top-bar-left">
  <h2 style="margin:0;padding:0;">&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to_site_name %></h2>
</div>
<div id="top-bar-right">
  <br />
  <%= my_account_link %>
</div>
<div id="top-bar-cleared"></div>
<%= build_list_menu(main_tabs, @page_id, {:id => "main-top-menus"}) %>