<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <strong>
      <%= link_to_unless_current berjubel_logo, admin_root_path, class: 'navbar-brand' do %>
        <span class="navbar-brand"><%= berjubel_logo %></span>
      <% end %>
    </strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= yield :search_form %>
      <%= render 'user_nav' %>
    </div>
  </div>
</nav>