<ul class="navbar-nav d-flex align-items-center ms-auto">
  <li class="dropdown me-3">
    <a href="#">
      <i class="bi bi-bell-fill text-white"></i>
    </a>
  </li>
  <li class="dropdown me-2">
    <a href="#">
      <i class="bi bi-person-fill fs-3 text-white"></i>
    </a>
  </li>
</ul>