<%- @page_title = [t(:edit), User::Setting.model_name.human].join(' | ') %>

<%= render_breadcrumbs([t(:home), t(:edit), User::Setting.model_name.human]) %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= User::Setting.model_name.human %></h5>
    <%= render 'form' %>
  </div>
</div>