<div class="modal-header pe-5">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div id="item-photo-<%= @item.id %>" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <%- @photos.each_with_index do |photo, i| %>
      <div class="carousel-item <%= 'active' if i == 0 %>">
        <% cache photo do %>
          <%= image_tag url_for(photo), class: 'd-block w-100', alt: photo.filename %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal-footer p-0 d-flex justify-content-center">
  <% @photos.each_with_index do |photo, i| %>
    <%= link_to image_tag(photo.variant(resize_to_limit: [80, 80])), "#item-photo-#{@item.id}", 'data-bs-slide-to': i %>
  <% end %>
</div>