development:
  adapter: mysql
  database: berjubel_development
  username: root
  pool: 5
  timeout: 5000
  socket: /opt/local/var/run/mysql5/mysqld.sock

test:
  adapter: mysql
  database: berjubel_test
  username: root
  pool: 5
  timeout: 5000
  socket: /opt/local/var/run/mysql5/mysqld.sock

production:
  adapter: mysql
  database: berjubel_production
  username: root
  pool: 5
  timeout: 5000
  socket: /opt/local/var/run/mysql5/mysqld.sock
