@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-size: 14px;
  background-color:#eee;
}

.img-thumbnail {
  height: 100px;
}

.list.img-thumbnail {
  margin-bottom: 5px;
}

.star {
  cursor: pointer;
}

ul.list-categories-right-panel {
  > li {
    padding-left: 0;
  }
}

.dropdown.popper {
  .dropdown-menu {
    padding: 10px;
    width: 300px;
  }
}

select {
  background-color: transparent;
}

.field_with_errors input,
.field_with_errors select {
  border: 1px solid red;
  color: #842029;
}

.invalid-feedback {
  display: block !important;
}

.floating-alert {
  font-size: small;
  z-index: 99999;
}

.floating-alert > div.alert {
  min-width: 22em;
}

.floating-alert .heading-icon {
  font-size: 3em;
  margin-top: -0.3em;
}

.floating-alert .alert-success .heading-icon {
  color: darkseagreen;
}