@import 'bootstrap/scss/bootstrap';

.turbolinks-progress-bar {
  background-color: #fff3cd;
}

.img-thumbnail {
  height: 100px;
}

.list.img-thumbnail {
  margin-bottom: 5px;
}

.star {
  cursor: pointer;
}

ul.list-categories-right-panel {
  > li {
    padding-left: 0;
  }
}

.dropdown.popper {
  .dropdown-menu {
    padding: 10px;
    width: 300px;
  }
}

select {
  background-color: transparent;
}

#upper-alert {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 50%;
  opacity: 0;
}

.floating-alert {
  font-size: small;
  z-index: 99999;

  > div.alert {
    min-width: 22em;
  }

  .heading-icon {
    font-size: 3em;
    margin-top: -0.3em;
  }

  .alert-success .heading-icon {
    color: darkseagreen;
  }
}

form#item_search_sidebar {
  div.list-group {
    label.list-group-item {
      cursor: pointer;
      font-size: 0.8rem;
      position: relative;

      input[type="checkbox"] {
        opacity: 0;
        position: absolute;
      }

      input[type="checkbox"]:checked + span {
        font-size: 0.9rem;
        font-weight: bold;
        color: darkseagreen;
      }
    }
  }
}

body.page-error .shake,
.modal.shake {
  animation: shake 0.5s; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.accordion-btn {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(0.75);
}

.accordion-btn.collapsed {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
}
