@import "~bootstrap/scss/bootstrap";
@import "material-icons";

body {
  font-size: 14px;
  background-color:#eee;
}

.img-thumbnail {
  height: 100px;
}

.list.img-thumbnail {
  margin-bottom: 5px;
}

.star {
  cursor: pointer;
}

ul.list-categories-right-panel {
  > li {
    padding-left: 0;
  }
}

.dropdown.popper {
  .dropdown-menu {
    padding: 10px;
    width: 300px;
  }
}