<div class="mb-2">
  <input type="text" class="form-control" placeholder="Harga minimum" />
</div>
<div class="mb-2">
  <input type="text" class="form-control" placeholder="Harga maksimum" />
</div>
<div class="mb-2">
  <span class="form-control">Rp 100 - Rp 200</span>
</div>
<div class="mb-2">
  <span class="form-control">Rp 200 - Rp 500</span>
</div>