<label class="list-group-item">
  <%= f.check_box :description_cont, {}, 100 %> <span>more than 100</span>
</label>
<label class="list-group-item">
  <%= f.check_box :description_cont, {}, 200 %> <span>more than 200</span>
</label>