<label class="list-group-item">
  <%= f.check_box :description_cont, {}, 0 %> <span>Diatas 3</span>
</label>
<label class="list-group-item">
  <%= f.check_box :description_cont, {}, 0 %> <span>Diatas 4</span>
</label>
<label class="list-group-item">
  <%= f.check_box :description_cont, {}, 0 %> <span>Diatas 5</span>
</label>