<div class="mb-3">
  <span class="form-control">Diatas 3</span>
</div>
<div class="mb-3">
  <span class="form-control">Diatas 4</span>
</div>
<div class="mb-3">
  <span class="form-control">Diatas 5</span>
</div>