<%- options = options.present? ? options : { store: true } %>

<div class="d-flex mb-3">
  <div>
    <%= render 'items/photo', item: item %>
  </div>
  <div class="me-auto p-2 ps-3">
    <h5 class="mb-0">
      <%= link_to item.name, item_path(item) %>
    </h5>
    <%- if options[:store] -%>
      <div>
        <%= link_to(item.store.name, store_path(item.store)) if item.store %>
      </div>
    <%- end -%>
  </div>
</div>

<%#= render 'photo_modal', item: item %>