<div class="modal" id="photos-item-<%= item.id %>"
  data-bs-photos-item="true"
  data-bs-photos-url="<%= item_photos_path(item, order: 'created_at') %>">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content"></div>
  </div>
</div>