<%- title 'Categories' -%>

<h3>Select Item Category</h3>
<%= display_categories_breadcrumb(@category) %>

<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td valign="top">
      <ul>
        <%- @parent_categories.each do |category| -%>
          <li><%= link_to_category category %></li>
        <%- end -%>
      </ul>
    </td>
    <td valign="top">
      <ul>
        <%- @category.children.each do |category| -%>
          <li><%= link_to_category category %></li>
        <%- end unless @category.blank? -%>
      </ul>
    </td>
  </tr>
</table>