<div class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Berjubel API</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          <a href="https://berjubel-app.web.app/" target="_blank">Frontend in react js</a>
        </p>
      </div>
    </div>
  </div>
</div>

<%#= react_component 'items/listing' %>