<%- @page_title = [Item.model_name.human(count: 2), @item.name].join(' | ') %>

<%= render_search_form %>

<%= render_breadcrumbs([
  link_to(t(:home), root_path),
  link_to(Item.model_name.human(count: 2), items_path),
  @item.name
]) %>

<%= render_floating_alert([flash.now[:notice]].compact, :success) %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @item.name %></h5>
  </div>
</div>