<div class="alert alert-success alert-dismissible fade show" role="alert">
  <% messages.each do |message| %>
    <div>
      <%= message %>
    </div>
  <% end %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>