<div class="modal" id="mainModal" tabindex="-1" aria-labelledby="berjubelMainModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="margin-bottom:0;">Reset categories confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to reset categories?
      </div>
    </div>
  </div>
</div>