<form class="d-flex me-auto">
  <div class="input-group">
    <span class="input-group-text p-0">
      <% categories = Category.parents.select('id, name').map{|c| [c.name, c.id]} %>
      <%= select_tag 'q[categories_id_in]',
            options_for_select(categories, params[:q] && params[:q][:categories_id_in]),
            class: 'form-control border-0' %>
    </span>
    <input type="search" name="q[name_cont]" value="<%= params[:q] && params[:q][:name_cont] %>" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="button-search">
    <button class="btn btn-outline-secondary" type="submit" id="button-search">GO</button>
  </div>
</form>