<%= search_form_for Item.ransack(params[:q]), html: { style: 'margin-left:170px' } do |f| %>
  <div class="input-group">
    <span class="input-group-text p-0">
      <%= f.collection_select :categories_id_in,
        @parent_categories, :id, :name, { include_blank: t(:all) },
        class: 'form-control', style: 'border:transparent;' %>
    </span>
    <%= f.search_field :name_cont, class: 'form-control' %>
    <%= f.submit t(:search), class: 'btn btn-primary' %>
  </div>
<% end %>