<form class="d-flex me-auto">
  <div class="input-group">
    <span class="input-group-text">
      <%= link_to 'All', '#', id: 'navbarDropdown', class: 'dropdown-toggle', role: 'button', 'data-bs-toggle': 'dropdown', 'aria-expand': false %>
      <%= render 'categories/listing', categories: Category.parents %>
    </span>
    <input type="search" name="q[name_cont]" value="<%= params[:q] && params[:q][:name_cont] %>" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="button-search">
    <button class="btn btn-outline-secondary" type="submit" id="button-search">GO</button>
  </div>
</form>