<div class="d-flex">
  <div class="flex-grow-1">
    <div class="mb-3">
      <label for="first_name" class="d-block">
        <%= User.human_attribute_name(:email) %>
      </label>
      <%= current_user.email %>
    </div>
  </div>
  <div>
    <%= link_to t(:edit), edit_account_path %>
  </div>
</div>