<%- @page_title = t('devise.registrations.created.title') %>

<div class="card text-center" style="width:30em;margin:6em auto;">
  <div class="card-body">
    <h6 class="card-title">
      <%= t('devise.registrations.created.title') %>
    </h6>
    <p class="card-text">
      <%= t('devise.registrations.created.message') %>
    </p>
  </div>
</div>