<div class="card text-center" style="width:30em;margin:6em auto;">
  <div class="card-body">
    <h5 class="card-title">Please check your email</h5>
    <p class="card-text">
      Confirmation email has been sent to your email, please check your email and click the link
    </p>
  </div>
</div>