<div class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <%= render 'form_new' %>
      </div>
      <div class="modal-footer">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
