<%- @page_title = t('devise.registrations.new.sign_up') %>

<div class="card w-25 mx-auto mt-5 shake">
  <div class="card-header d-flex align-items-center">
    <h6 class="card-title mt-2 me-auto">
      <%= t('devise.registrations.new.sign_up') %>
    </h6>
    <%= render_locale_selector('new_user_registration_path') %>
  </div>
  <div class="card-body">
    <%= render 'form_new' %>
  </div>
  <div class="card-footer">
    <%= render "users/shared/links" %>
  </div>
</div>